* {
  padding: 0;
  margin: 0;
  /* background-color: #branco; Mudar a cor do fundo */
}


#logo{
    height: 30px;
    width: 100px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

li a {
  text-decoration: none;
  /*Remove o sublinhado */
  font-size: 20px;
  /* Tamanho da font*/
  color: black;
  /*Mudar a cor da font*/
  padding: 20px;
}

li {
  list-style: none;
  /* Remover formartação da lista*/
}
ul {
  display: flex;
  /*Indica a prpriedade FlexBox*/
  flex-direction: row;
  /*Colocar os elementos na horizontal ou na vertical*/

}

.card{
    width: 250px;
    height: 250px; 
    border: 2px solid black;  
    
}